<html>
<head></head>
<body>
    <h1>Welcome to Mastermind</h1>
    <pre>Please select the role you would like to play</pre>
    <form action="/role" method="post">
      <select name="role">
        <option value="maker">Code-Maker</option>
        <option value="breaker">Code-Breaker</option>
      </select>
      <input type="submit" value="Play">
    </form>
    </body>
</html>